

.header	{
	margin: 8px auto;
	display: grid;
	grid-row: auto auto;
	border: $colorSecundario 2px solid;
	border-radius: 10px;
	background-color: $colorPrincipal;
    
    .header-imagen {
	    height: 65px;
	    width: 65px;
	    margin: 0px 45px;
	    padding-top: 10px;
	    animation-name: logo;
	    animation-duration: 0.5s;
	    animation-delay: 0.5s;
	    opacity: 0;
	    animation-fill-mode: forwards;
	    animation-timing-function: ease-out;

        img {
	        max-width: 100%;
	        border: $colorSecundario 2px solid;
	         border-radius: 3px;
        }
    }

    .nav {

	    display: flex;
	    justify-content: flex-end;
	    background-color: transparent;

        .nav-ul {
	        list-style: none;
            display: flex;
	        justify-content: space-evenly;
	        margin: 5px 10px;
	        padding: 5px 25px;
	        border-radius: 5px;
	        align-self: center;
	        width: 51%;

            .menu-boton {
	            margin: auto;
	            padding: 7px 12px;
	            border-radius: 4px;
	            border: $colorSecundario 1px solid;
	            opacity: 0;

    
                &:hover {
	                background-color: $colorSecundario;
	                color: white;
	                transition: 0.2s;
                }

                    & a {
                    background-color: transparent;
                    text-decoration: none;
                }
            }
        }
    }
}

@media only screen and ( max-width: 990px) {
	
	.header {
		justify-items: center;

        .nav {
		    justify-content: center;
		    margin-top: 5px;
		    width: 100%;

            .nav-ul{
	    	    width: 80%;
	        }
	    }
	}
}	

@media only screen and (max-width: 520px) {

	.nav {
		margin: 10px 0 5px 0;

        .nav-ul {
		    flex-direction: column;
		    align-items: center;
		    justify-content: space-around;
	    }
	}
}