
$colorPrincipal: #279895;
$colorSecundario: #10576a;



    $shadow1 :#52d3cf;
    $shadow2 :#31c1bd;
    $colorPrincipal :#279895;
    $shadow3: #1d6f6d;
    $shadow4: #124745;



    $analogousBlue1: #272a98;
    $analogousBlue2: #276298;
    $colorPrincipal: #279895;
    $analogousGreen1: #27985d;
    $analogousGreen2: #2a9827;


    $complementary1: #c13135;
    $complementary2: #6f1d1f;
    $colorPrincipal: #279895;
    $complementary3: #31c1bd;
    $complementary4: #1d6f6d;


    $compoundBrown1: #989527;
    $compoundBrown2: #985c27;
    $colorPrincipal: #279895;
    $compoundPink1: #982763;
    $compoundPink2: #952798;


    $monochromatic1: #01beb9;
    $monochromatic2: #14aba7;
    $colorPrincipal: #279895;
    $monochromatic3: #3a8583;
    $monochromatic4: #4d7271;